<div class="tab-content">
  <%= render partial: 'list_table', locals: {tags: Tag.find_by(title: "Symbol categories").children} %>
  <%= render partial: 'list_table', locals: {tags: Tag.find_by(title: "Coin categories").children} %>
</div>
