<div class="table-scrollable">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th></th>
      <th class="text-center">Thời gian</th>
      <th class="text-center">Tiền</th>
      <th class="text-center">Hình thức thay đổi</th>
      <th></th>
    </tr>
    </thead>

    <tbody class="item-container">
      <%= render('fund_log') %>
    </tbody>
  </table>
</div>

