<div class="table-scrollable">
  <div id="fund_view">
    <%= render partial: 'shared/fund_view' %>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th></th>
      <th class="text-center">Thời gian</th>
      <th class="text-center">Tiền</th>
      <th class="text-center">Hình thức thay đổi</th>
      <th></th>
    </tr>
    </thead>

    <tbody class="item-container">
      <%= render('fund_log') %>
    </tbody>
  </table>
</div>

