<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">User</span>
    </li>
</ul>

<%= javascript_pack_tag 'main' %>
