<div id="app">
  <div id="__next">
    <div class="mainLayout">
      <div class="glossariesLayout">
        <h1>Glossary</h1>
        <div class="glossaries">
          <div class="glossariesList">
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="#">#</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/51-percent-attack.html">
                <h2>51% Attack</h2>
                <div>Also known as a Majority Attack. When one or a group of miners control greater than 50% of the network&#x27;s mining hashrate or computational power.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="a">a</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/absolute-advantage.html">
                <h2>Absolute Advantage</h2>
                <div>An economics concept in which one party has a direct advantage in efficiency in producing/providing a specific good or service over another party.</div>
              </a>
              <a class="glossaryEntry" href="glossary/active-management.html">
                <h2>Active Management</h2>
                <div>An investing strategy employed by fund managers aiming to outperform an index or market in order to generate profits.</div>
              </a>
              <a class="glossaryEntry" href="glossary/ad-hoc.html">
                <h2>Ad Hoc</h2>
                <div>A phrase of Latin origin that is used in modern English to mean &quot;for this purpose&quot; or &quot;specifically for this.&quot;</div>
              </a>
              <a class="glossaryEntry" href="glossary/address.html">
                <h2>Address</h2>
                <div>String of text that designates the location of a particular wallet on the blockchain. Often a hashed version of a public key.</div>
              </a>
              <a class="glossaryEntry" href="glossary/airdrop.html">
                <h2>Airdrop</h2>
                <div>The distribution of digital assets to the public, either by virtue of holding a certain other token or simply by virtue of being an active wallet address on a particular blockchain</div>
              </a>
              <a class="glossaryEntry" href="glossary/algorithm.html">
                <h2>Algorithm</h2>
                <div>A sequence of unambiguous instructions used for the purpose of solving a problem.</div>
              </a>
              <a class="glossaryEntry" href="glossary/all-or-none-order.html">
                <h2>All or None Order (AON)</h2>
                <div>An order which once placed, must either be filled in its entirety or not at all. This prevents any partial filling of orders.</div>
              </a>
              <a class="glossaryEntry" href="glossary/all-time-high.html">
                <h2>All-Time High (ATH)</h2>
                <div>The highest price of a cryptocurrency in a quote​ currency, such as a dollar, BTC, ETH, or BNB</div>
              </a>
              <a class="glossaryEntry" href="glossary/allocation.html">
                <h2>Allocation</h2>
                <div>An allotment of tokens or equity, that may be earned, purchased, or set aside for a certain investor, team, group, organization, or other related entity.</div>
              </a>
              <a class="glossaryEntry" href="glossary/alpha.html">
                <h2>Alpha</h2>
                <div>The first look at a product released by a team, consisting of the very first version of a primitive, basic software or product.</div>
              </a>
              <a class="glossaryEntry" href="glossary/altcoin.html">
                <h2>Altcoin</h2>
                <div>A cryptocurrency that is alternative to Bitcoin. Used to describe cryptocurrencies that are not Bitcoin.</div>
              </a>
              <a class="glossaryEntry" href="glossary/anti-money-laundering.html">
                <h2>Anti Money Laundering (AML)</h2>
                <div>A framework consisting of legal and regulatory procedures to minimize and curb the flow of funds that are generated from illegal or dubious activities.</div>
              </a>
              <a class="glossaryEntry" href="glossary/application-programming-interface.html">
                <h2>Application Programming Interface (API)</h2>
                <div>A collection of functions and procedures that allow users to interact/communicate with the data of an application or service, such as an exchange, to execute the features of the service programmatically.</div>
              </a>
              <a class="glossaryEntry" href="glossary/application-specific-integrated-circuit.html">
                <h2>Application-Specific Integrated Circuit (ASIC)</h2>
                <div>An Integrated Circuit customized for maximum performance in a particular use, rather than general-purpose use.</div>
              </a>
              <a class="glossaryEntry" href="glossary/arbitrage.html">
                <h2>Arbitrage</h2>
                <div>Buying and selling of assets over different markets in order to take advantage of differing prices on the same asset.</div>
              </a>
              <a class="glossaryEntry" href="glossary/asic-resistant.html">
                <h2>ASIC-resistant</h2>
                <div>An ASIC-resistant cryptocurrency has its protocol and mining algorithm configured in such a way that using ASIC machines to mine the coin is either impossible or brings no significant benefit when compared to traditional GPU mining.</div>
              </a>
              <a class="glossaryEntry" href="glossary/asking-price.html">
                <h2>Ask Price</h2>
                <div>The lowest price a seller is willing to accept on their sell order when trading an asset on an exchange.</div>
              </a>
              <a class="glossaryEntry" href="glossary/atomic-swap.html">
                <h2>Atomic Swap</h2>
                <div>Smart contract technology that enables the exchange of one cryptocurrency for another without using centralized intermediaries, such as exchanges.</div>
              </a>
              <a class="glossaryEntry" href="glossary/attack-surface.html">
                <h2>Attack surface</h2>
                <div>Different points in software environments where an attacker can attempt to enter data or extract data.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="b">b</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/bags.html">
                <h2>Bags</h2>
                <div>The portfolio of coins and tokens one is holding. Often related to a poorly performing bag of assets that investors insist to hold.</div>
              </a>
              <a class="glossaryEntry" href="glossary/bear-market.html">
                <h2>Bear Market</h2>
                <div>A negative trend in prices of a market. It is widely used not only in the cryptocurrency space but also in the traditional markets.</div>
              </a>
              <a class="glossaryEntry" href="glossary/benchmark.html">
                <h2>Benchmark</h2>
                <div>A measurement standard which can be used to gauge the performance of a particular asset or investment portfolio.</div>
              </a>
              <a class="glossaryEntry" href="glossary/beta-coefficient.html">
                <h2>Beta (Coefficient)</h2>
                <div>A tool used to measure the volatility of an asset in comparison to the volatility of a specific portfolio or market index.</div>
              </a>
              <a class="glossaryEntry" href="glossary/beta-release.html">
                <h2>Beta (Release)</h2>
                <div>An early version of a program for users to test and for a team to get feedback. Beta stage comes after the Alpha stage.</div>
              </a>
              <a class="glossaryEntry" href="glossary/bid-price.html">
                <h2>Bid Price</h2>
                <div>In the context of financial markets, it is the value buyers offer for an asset, such as a commodity, security, or cryptocurrency.</div>
              </a>
              <a class="glossaryEntry" href="glossary/bid-ask-spread.html">
                <h2>Bid-Ask Spread</h2>
                <div>The difference in price between the lowest asking price and highest bid price on the order book for an asset</div>
              </a>
              <a class="glossaryEntry" href="glossary/binance-blockchain-charity-foundation.html">
                <h2>Binance Blockchain Charity Foundation (BCF)</h2>
                <div>The world&#x27;s first decentralized charity platform to advocate the concept of &#x27;blockchain for social good&#x27;.</div>
              </a>
              <a class="glossaryEntry" href="glossary/binance-coin.html">
                <h2>Binance Coin (BNB)</h2>
                <div>Launched by Binance after an initial coin offering that ended on July 3rd, 2017. Used for receiving exchange trading fee discounts among other utilities.</div>
              </a>
              <a class="glossaryEntry" href="glossary/binance-community-vote.html">
                <h2>Binance Community Vote</h2>
                <div>When the community has the opportunity to vote for their favorite project to win a free listing on Binance.</div>
              </a>
              <a class="glossaryEntry" href="glossary/binance-ecosystem-fund.html">
                <h2>Binance Ecosystem Fund (BEF)</h2>
                <div>An initiative by Binance to collaborate with partners who care about the blockchain/cryptocurrency ecosystem.</div>
              </a>
              <a class="glossaryEntry" href="glossary/binance-labs.html">
                <h2>Binance Labs</h2>
                <div>A social impact fund and an initiative to incubate, invest, and empower blockchain and cryptocurrency entrepreneurs, projects, and communities.</div>
              </a>
              <a class="glossaryEntry" href="glossary/bitcoin.html">
                <h2>Bitcoin</h2>
                <div>A cryptocurrency created by the pseudonymous developer(s) Satoshi Nakamoto. The first cryptocurrency, initially described as a &quot;Peer-to-Peer e-cash&quot;.</div>
              </a>
              <a class="glossaryEntry" href="glossary/bitcoin-dominance.html">
                <h2>Bitcoin Dominance</h2>
                <div>The ratio of Bitcoin&#x27;s market capitalization versus the sum of the market capitalizations of all cryptocurrencies.</div>
              </a>
              <a class="glossaryEntry" href="glossary/bitcoin-pizza.html">
                <h2>Bitcoin Pizza</h2>
                <div>The infamous Papa John&#x27;s Pizza that cost Laszlo Hanyecz 10,000 Bitcoin when he offered the sum to anyone who bought a pizza for him online and ordered it to his door.</div>
              </a>
              <a class="glossaryEntry" href="glossary/black-swan-event.html">
                <h2>Black Swan Event</h2>
                <div>An event that is often entirely unexpected and deviates from the expected result causing widespread ramifications.</div>
              </a>
              <a class="glossaryEntry" href="glossary/block.html">
                <h2>Block</h2>
                <div>A computer file that stores transaction data. These can then be arranged in a linear sequence, which will form a blockchain.</div>
              </a>
              <a class="glossaryEntry" href="glossary/block-explorer.html">
                <h2>Block Explorer</h2>
                <div>An online Blockchain webpage which allows users to browse information about blocks, transactions, balances, and transaction histories.</div>
              </a>
              <a class="glossaryEntry" href="glossary/block-height.html">
                <h2>Block Height</h2>
                <div>The number of blocks in the chain between itself and the first block on that blockchain (genesis block or block 0).</div>
              </a>
              <a class="glossaryEntry" href="glossary/block-reward.html">
                <h2>Block Reward</h2>
                <div>The sum of coins awarded by the blockchain protocol to cryptocurrency miners for each successfully mined and validated block.</div>
              </a>
              <a class="glossaryEntry" href="glossary/blockchain.html">
                <h2>Blockchain</h2>
                <div>A decentralized, digitized ledger that records transaction information about a cryptocurrency in a chronological order.</div>
              </a>
              <a class="glossaryEntry" href="glossary/bounty.html">
                <h2>Bounty</h2>
                <div>A reward posted by a group or individual to incentivize certain work, behavior (such as referrals), or development.</div>
              </a>
              <a class="glossaryEntry" href="glossary/break-even-point.html">
                <h2>Break-Even Point (BEP)</h2>
                <div>The point where the total costs of an operation is equivalent to its current value or revenue.</div>
              </a>
              <a class="glossaryEntry" href="glossary/breakeven-multiple.html">
                <h2>Breakeven Multiple</h2>
                <div>The multiple of the current price by which an asset needs to appreciate in order to reach its previous all-time high.</div>
              </a>
              <a class="glossaryEntry" href="glossary/buidl.html">
                <h2>BUIDL</h2>
                <div>Originally derived from HODL, a term referring to keeping your heads down and focusing on building your product.</div>
              </a>
              <a class="glossaryEntry" href="glossary/bull-market.html">
                <h2>Bull Market</h2>
                <div>A positive trend in prices of a market. It is widely used not only in the cryptocurrency space but also in the traditional markets.</div>
              </a>
              <a class="glossaryEntry" href="glossary/buy-wall.html">
                <h2>Buy Wall</h2>
                <div>A single huge buy order or the composition of multiple large buy orders at the same price in the order book of a particular market.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="c">c</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/candidate-block.html">
                <h2>Candidate Block</h2>
                <div>A temporary block created by a mining node (miner) to add to the blockchain to receive the block rewards.</div>
              </a>
              <a class="glossaryEntry" href="glossary/capitulation.html">
                <h2>Capitulation</h2>
                <div>A period of strong selling activity, where investors give up their positions and sell their holdings as quickly as possible.</div>
              </a>
              <a class="glossaryEntry" href="glossary/central-bank.html">
                <h2>Central Bank</h2>
                <div>A financial institution that acts as a monetary authority and manages a states currency, interest rates, and money supply.</div>
              </a>
              <a class="glossaryEntry" href="glossary/central-processing-unit.html">
                <h2>Central Processing Unit (CPU)</h2>
                <div>The part of a computer responsible for interpreting instructions of computer programs and executing operations.</div>
              </a>
              <a class="glossaryEntry" href="glossary/cipher.html">
                <h2>Cipher</h2>
                <div>A method for encrypting and decrypting messages. These can be divided into symmetric or asymmetric, according to their key model.</div>
              </a>
              <a class="glossaryEntry" href="glossary/circulating-supply.html">
                <h2>Circulating Supply</h2>
                <div>The best approximate number of cryptocurrency coins or tokens that are publicly available and circulating in the market.</div>
              </a>
              <a class="glossaryEntry" href="glossary/cloud.html">
                <h2>Cloud</h2>
                <div>In computer science, a shared pool of resources, which are made available to multiple users through the Internet.</div>
              </a>
              <a class="glossaryEntry" href="glossary/coin.html">
                <h2>Coin</h2>
                <div>A cryptocurrency or digital cash that is independent of any other platform, which is used as an exchange of value.</div>
              </a>
              <a class="glossaryEntry" href="glossary/collateral.html">
                <h2>Collateral</h2>
                <div>Pledging something of value against a loan to guarantee that the person taking the loan will complete repayment.</div>
              </a>
              <a class="glossaryEntry" href="glossary/commodity-futures-trading-commission.html">
                <h2>Commodity Futures Trading Commission (CFTC)</h2>
                <div>US-based agency responsible for regulating the derivatives markets, which includes options, swaps, and futures contracts.</div>
              </a>
              <a class="glossaryEntry" href="glossary/confirmation-time.html">
                <h2>Confirmation Time</h2>
                <div>The time elapsed when a transaction is submitted to the network and the time it is recorded into a confirmed block.</div>
              </a>
              <a class="glossaryEntry" href="glossary/confluence.html">
                <h2>Confluence</h2>
                <div>When multiple investment methods, technical indicators, or trading signals are combined to form a more reliable strategy.</div>
              </a>
              <a class="glossaryEntry" href="glossary/credentials.html">
                <h2>Credentials</h2>
                <div>Personal information. Examples include username, password, email address, qualifications and many more.</div>
              </a>
              <a class="glossaryEntry" href="glossary/cryptocurrency.html">
                <h2>Cryptocurrency</h2>
                <div>A digital currency that is secured by cryptography to work as a medium of exchange within a peer-to-peer (P2P) economic system.</div>
              </a>
              <a class="glossaryEntry" href="glossary/cryptography.html">
                <h2>Cryptography</h2>
                <div>The science of using mathematical theories and computation in order to encrypt and decrypt information.</div>
              </a>
              <a class="glossaryEntry" href="glossary/custody.html">
                <h2>Custody</h2>
                <div>Ownership of one&#x27;s funds or assets; in crypto, holding custody of a wallet and its assets also means holding the private keys and the responsibility of keeping funds safe.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="d">d</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/daemon.html">
                <h2>Daemon</h2>
                <div>A process operating in the background waiting for a specific event or condition in order to be activated.</div>
              </a>
              <a class="glossaryEntry" href="glossary/dead-cat-bounce.html">
                <h2>Dead Cat Bounce</h2>
                <div>A brief recovery in the price of a declining asset that is shortly followed by a continuation of the downtrend.</div>
              </a>
              <a class="glossaryEntry" href="glossary/decentralized-application.html">
                <h2>Decentralized Application (dApp)</h2>
                <div>Applications that run on a P2P network of computers rather than one central computer. This allows the software to run on the internet without being controlled by a single entity.</div>
              </a>
              <a class="glossaryEntry" href="glossary/decentralized-autonomous-cooperative.html">
                <h2>Decentralized Autonomous Cooperative (DAC)</h2>
                <div>An organization that is controlled by shareholders rather than a central authority.</div>
              </a>
              <a class="glossaryEntry" href="glossary/decentralized-autonomous-organization.html">
                <h2>Decentralized Autonomous Organization (DAO)</h2>
                <div>A system of hard-coded rules that define which actions a decentralized organization will take.</div>
              </a>
              <a class="glossaryEntry" href="glossary/decentralized-exchange.html">
                <h2>Decentralized Exchange (DEX)</h2>
                <div>An exchange which does not require users to deposit funds to start trading and does not hold the funds for the user. Instead, users trade directly from their own wallets.</div>
              </a>
              <a class="glossaryEntry" href="glossary/defi.html">
                <h2>Decentralized Finance (DeFi)</h2>
                <div>The ecosystem comprised of decentralized financial applications developed on top of blockchain networks.</div>
              </a>
              <a class="glossaryEntry" href="glossary/decryption.html">
                <h2>Decryption</h2>
                <div>The act of reverting an encryption process so that unreadable data (ciphertext) can be converted into readable data (plaintext).</div>
              </a>
              <a class="glossaryEntry" href="glossary/delisting.html">
                <h2>Delisting</h2>
                <div>The removal of an asset from an exchange either as a request from the project team or as a decision made by the exchange.</div>
              </a>
              <a class="glossaryEntry" href="glossary/design-flaw-attack.html">
                <h2>Design Flaw Attack</h2>
                <div>An attack in which a malicious user purposely creates a smart-contract, decentralized market, or other software with knowledge of certain flaws in order to trick individuals interacting within the permissionless environment.</div>
              </a>
              <a class="glossaryEntry" href="glossary/difficulty-bomb.html">
                <h2>Difficulty Bomb</h2>
                <div>A significant increase in mining difficulty for a proof-of-work coin. This term is often used in reference to Ethereum&#x27;s exponentially increasing difficulty.</div>
              </a>
              <a class="glossaryEntry" href="glossary/divergence.html">
                <h2>Divergence</h2>
                <div>When the market price of an asset and a technical indicator (e.g. RSI, Volume, MACD) are heading in opposite directions.</div>
              </a>
              <a class="glossaryEntry" href="glossary/diversification.html">
                <h2>Diversification</h2>
                <div>The allocation of funds across different types of assets and jurisdictions in order to reduce the overall risks.</div>
              </a>
              <a class="glossaryEntry" href="glossary/do-your-own-research.html">
                <h2>Do Your Own Research (DYOR)</h2>
                <div>A valuable piece of advice. It&#x27;s always wise to research a coin or token yourself instead of following what others say.</div>
              </a>
              <a class="glossaryEntry" href="glossary/dollar-cost-averaging.html">
                <h2>Dollar Cost Averaging (DCA)</h2>
                <div>Investing fixed dollar amounts over regular periods of time regardless of the price of the asset.</div>
              </a>
              <a class="glossaryEntry" href="glossary/double-spending.html">
                <h2>Double Spending</h2>
                <div>When a given amount of coins are spent more than once. Usually as a result of a race attack or a 51% attack.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="e">e</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/eclipse-attack.html">
                <h2>Eclipse Attack</h2>
                <div>When the majority of peers on the network are malicious and monopolize the network in order to prevent specific nodes from receiving information from honest nodes.</div>
              </a>
              <a class="glossaryEntry" href="glossary/encryption.html">
                <h2>Encryption</h2>
                <div>Conversion of information or data into a secure code in order to prevent unauthorised access to the information or data.</div>
              </a>
              <a class="glossaryEntry" href="glossary/ethereum-enterprise-alliance.html">
                <h2>Enterprise Ethereum Alliance (EEA)</h2>
                <div>The industry’s first global standards organization to deliver an open, standards-based architecture and specification to accelerate the adoption of Enterprise Ethereum.</div>
              </a>
              <a class="glossaryEntry" href="glossary/erc-20.html">
                <h2>ERC-20</h2>
                <div>A technical standard used to issue and implement tokens on the Ethereum blockchain proposed in November 2015 by Fabian Vogelsteller.</div>
              </a>
              <a class="glossaryEntry" href="glossary/erc-721.html">
                <h2>ERC-721</h2>
                <div>An Ethereum based non-fungible token. This means that each token is unique and as a result, not interchangeable.</div>
              </a>
              <a class="glossaryEntry" href="glossary/exchange.html">
                <h2>Exchange</h2>
                <div>A marketplace for cryptocurrencies where users can buy and sell coins.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="f">f</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/falling-knife.html">
                <h2>Falling Knife</h2>
                <div>Refers to the action of purchasing an asset while it is rapidly declining in price under the expectation that it will bounce.</div>
              </a>
              <a class="glossaryEntry" href="glossary/fear-of-missing-out.html">
                <h2>Fear Of Missing Out (FOMO)</h2>
                <div>The feeling of fear and anxiety that you might be missing out on a potentially profitable opportunity.</div>
              </a>
              <a class="glossaryEntry" href="glossary/fear-uncertainty-and-doubt.html">
                <h2>Fear, Uncertainty and Doubt (FUD)</h2>
                <div>A marketing strategy used to spread fear and insecurity among customers, traders, or investors.</div>
              </a>
              <a class="glossaryEntry" href="glossary/fiat.html">
                <h2>Fiat</h2>
                <div>Money that a government has declared to be legal tender.</div>
              </a>
              <a class="glossaryEntry" href="glossary/fill-or-kill-order.html">
                <h2>Fill Or Kill Order (FOK)</h2>
                <div>A buy or sell order which must be executed immediately in its entirety or else it will be cancelled.</div>
              </a>
              <a class="glossaryEntry" href="glossary/finality.html">
                <h2>Finality</h2>
                <div>The assurance or guarantee that completed (cryptocurrency) transactions cannot be altered, reversed or canceled.</div>
              </a>
              <a class="glossaryEntry" href="glossary/first-mover-advantage.html">
                <h2>First-Mover Advantage (FMA)</h2>
                <div>The competitive advantage of the first project to bring a service or product into a new and unexplored market or industry.</div>
              </a>
              <a class="glossaryEntry" href="glossary/flappening.html">
                <h2>Flappening</h2>
                <div>The name to describe the moment when Litecoin (LTC) surpassed Bitcoin Cash (BCH) in terms of market capitalization</div>
              </a>
              <a class="glossaryEntry" href="glossary/flippening.html">
                <h2>Flippening</h2>
                <div>The name to describe the moment when/if Ethereum (ETH) surpasses Bitcoin (BTC) in terms of market capitalization</div>
              </a>
              <a class="glossaryEntry" href="glossary/forced-liquidation.html">
                <h2>Forced Liquidation</h2>
                <div>When a broker forcibly liquidates an investors position as a result of their position falling below the margin requirement.</div>
              </a>
              <a class="glossaryEntry" href="glossary/formal-verification.html">
                <h2>Formal Verification</h2>
                <div>Using mathematically rigorous proofs to ensure certain properties of cryptographic algorithms and blockchain mechanisms</div>
              </a>
              <a class="glossaryEntry" href="glossary/full-node.html">
                <h2>Full Node</h2>
                <div>A computer that fully implements the entirety of rules of an underlying blockchain network and completely validates transactions and blocks on a blockchain.</div>
              </a>
              <a class="glossaryEntry" href="glossary/fundamental-analysis.html">
                <h2>Fundamental Analysis (FA)</h2>
                <div>Evaluating an asset based on its underlying characteristics and traits as an effort towards arriving at an intrinsic value of the asset.</div>
              </a>
              <a class="glossaryEntry" href="glossary/fungibility.html">
                <h2>Fungibility</h2>
                <div>The property of an asset whose individual units are indistinguishable from each other in terms of value and functionality.</div>
              </a>
              <a class="glossaryEntry" href="glossary/futures-contract.html">
                <h2>Futures Contract</h2>
                <div>A standardized version of forward contracts that are used as a legal agreement to buy or sell an asset in the future at an agreed upon price and date.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="g">g</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/gas.html">
                <h2>Gas</h2>
                <div>The pricing mechanism employed  on the Ethereum blockchain to calculate the costs of smart contracts operations and transaction fees.</div>
              </a>
              <a class="glossaryEntry" href="glossary/gas-limit.html">
                <h2>Gas Limit</h2>
                <div>The maximum price a cryptocurrency user is willing to pay as a fee when sending a transaction, or performing a smart contract function.</div>
              </a>
              <a class="glossaryEntry" href="glossary/general-public-license.html">
                <h2>General Public License</h2>
                <div>License allowing users to copy and modify software, but requires the works to be distributed under the same license.</div>
              </a>
              <a class="glossaryEntry" href="glossary/genesis-block.html">
                <h2>Genesis Block</h2>
                <div>The first ever block recorded on its respective blockchain network, also referred to as Block 0 or Block 1.</div>
              </a>
              <a class="glossaryEntry" href="glossary/github.html">
                <h2>GitHub</h2>
                <div>A site/system/folder/repository where a team can share, collaborate, and save their open source or propietary code.</div>
              </a>
              <a class="glossaryEntry" href="glossary/gossip-protocol.html">
                <h2>Gossip Protocol</h2>
                <div>A particular method of asynchronous peer-to-peer communication between computer nodes of a distributed system.</div>
              </a>
              <a class="glossaryEntry" href="glossary/gwei.html">
                <h2>Gwei</h2>
                <div>A small denomination of Ether. It is widely used as a measure of gas prices. 1,000,000,000 wei = 1 Giga wei (Gwei)</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="h">h</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/halving.html">
                <h2>Halving</h2>
                <div>When the block reward of a crypto asset, such as bitcoin, drops to one-half of what it was before; this is used to create a decaying rate of issuance to arrive at an eventual finite supply of a crypto asset.</div>
              </a>
              <a class="glossaryEntry" href="glossary/hard-cap.html">
                <h2>Hard Cap</h2>
                <div>The maximum amount of funds a project intends to raise during their Initial Coin Offering (ICO) or alternative fundraising event.</div>
              </a>
              <a class="glossaryEntry" href="glossary/hash.html">
                <h2>Hash</h2>
                <div>The output produced by a hash function after a piece of data is mapped. May also be referred to as hash value, hash code, or digest.</div>
              </a>
              <a class="glossaryEntry" href="glossary/hash-rate.html">
                <h2>Hash Rate</h2>
                <div>The speed at which a computer or mining hardware is able to calculate new hashes. Usually measured in hashes per second.</div>
              </a>
              <a class="glossaryEntry" href="glossary/hashed-timelock-contract.html">
                <h2>Hashed TimeLock Contract (HTLC)</h2>
                <div>Refers to a special feature that is used to create smart contracts that are able to modify payment channels.</div>
              </a>
              <a class="glossaryEntry" href="glossary/hodl.html">
                <h2>HODL</h2>
                <div>A typo of &quot;Hold&quot; originating from bitcointalk that has also been retrofitted to be an acronym for Hold on for Dear Life - to maintain ownership of coins and not sell.</div>
              </a>
              <a class="glossaryEntry" href="glossary/honeypot.html">
                <h2>Honeypot</h2>
                <div>A mechanism used in computer security used to detect or counteract unauthorized access of information systems.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="i">i</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/iceberg-order.html">
                <h2>Iceberg Order</h2>
                <div>A conditional order to buy or sell a large amount of assets in smaller predetermined quantities in order to conceal the total order quantity.</div>
              </a>
              <a class="glossaryEntry" href="glossary/index.html">
                <h2>Index</h2>
                <div>A financial instrument used to track the price value of a given asset or basket of assets</div>
              </a>
              <a class="glossaryEntry" href="glossary/initial-coin-offering.html">
                <h2>Initial Coin Offering (ICO)</h2>
                <div>A fundraising method in which new projects will sell their cryptocurrency to investors.</div>
              </a>
              <a class="glossaryEntry" href="glossary/initial-exchange-offering.html">
                <h2>Initial Exchange Offering (IEO)</h2>
                <div>A fundraising method designed to reduce the risk for token purchasers by introducing a trusted intermediary between the project team and the user.</div>
              </a>
              <a class="glossaryEntry" href="glossary/initial-public-offering.html">
                <h2>Initial Public Offering (IPO)</h2>
                <div>Refers to the moment a private company starts offering its shares to the public for the first time.</div>
              </a>
              <a class="glossaryEntry" href="glossary/integrated-circuit.html">
                <h2>Integrated Circuit (IC)</h2>
                <div>A small chip, typically made of silicon, that holds a set of electronic parts such as transistors, resistors or capacitors.</div>
              </a>
              <a class="glossaryEntry" href="glossary/interoperability.html">
                <h2>Interoperability</h2>
                <div>A concept of allowing blockchains to be compatible with each other and build upon each other&#x27;s features and use-cases.</div>
              </a>
              <a class="glossaryEntry" href="glossary/iou.html">
                <h2>IOU</h2>
                <div>An acronym which stands for “I owe you” and refers to an informal document that acknowledges a debt one party owes to another.</div>
              </a>
              <a class="glossaryEntry" href="glossary/issuance.html">
                <h2>Issuance</h2>
                <div>Generation of a new cryptocurrency which occurs in a variety of different ways, depending on parameters specified by the creators.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="j">j</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/jager.html">
                <h2>Jager</h2>
                <div>The smallest denomination of Binance Coin (BNB). Derived from the Telegram handle of the Binance Community Manager at the time.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="k">k</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/keccak.html">
                <h2>Keccak</h2>
                <div>A versatile cryptographic function designed by Guido Bertoni, Joan Daemen, Michaël Peeters, and Gilles Van Assche.</div>
              </a>
              <a class="glossaryEntry" href="glossary/know-your-customer.html">
                <h2>Know Your Customer (KYC)</h2>
                <div>A standard procedure in the finance industry which allows companies to identify their customers and comply with KYC AML laws</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="l">l</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/latency.html">
                <h2>Latency</h2>
                <div>The time between submitting a transaction to a network and the first confirmation of acceptance by the network.</div>
              </a>
              <a class="glossaryEntry" href="glossary/layer-2.html">
                <h2>Layer 2</h2>
                <div>A secondary framework or protocol that is built on top of an existing blockchain system to provide increased scalability.</div>
              </a>
              <a class="glossaryEntry" href="glossary/ledger.html">
                <h2>Ledger</h2>
                <div>A physical book or a digital computer file where monetary and financial transactions are tracked and recorded.</div>
              </a>
              <a class="glossaryEntry" href="glossary/library.html">
                <h2>Library</h2>
                <div>A collection of stable resources, which may include executable files, documentation, message templates, and written code.</div>
              </a>
              <a class="glossaryEntry" href="glossary/lightning-network.html">
                <h2>Lightning Network</h2>
                <div>A second layer operating on top of a blockchain, enabling increased transaction speed among participating nodes. This is one proposed scaling solution.</div>
              </a>
              <a class="glossaryEntry" href="glossary/linux.html">
                <h2>Linux</h2>
                <div>A popular open-source operating system, created in 1991 by Linus Torvalds. It is used in a wide range of devices around the world.</div>
              </a>
              <a class="glossaryEntry" href="glossary/liquidity.html">
                <h2>Liquidity</h2>
                <div>The ability to sell or buy any given asset without causing significant fluctuations in the market price for that asset.</div>
              </a>
              <a class="glossaryEntry" href="glossary/listing.html">
                <h2>Listing</h2>
                <div>The addition of an asset to an exchange either as a request from the project team or as a decision made by the exchange.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="m">m</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/mainnet.html">
                <h2>Mainnet</h2>
                <div>A blockchain protocol which is fully developed and deployed where transactions are being broadcasted, verified, and recorded.</div>
              </a>
              <a class="glossaryEntry" href="glossary/mainnet-swap.html">
                <h2>Mainnet Swap</h2>
                <div>When a coin migrates from a third party platform such as Ethereum or other token to a native on-chain token on their mainnet.</div>
              </a>
              <a class="glossaryEntry" href="glossary/maker.html">
                <h2>Maker</h2>
                <div>You become a “maker” when you place an order and it does not trade immediately, so your order stays in the order book and waits for someone else to fill/match with it later.</div>
              </a>
              <a class="glossaryEntry" href="glossary/malware.html">
                <h2>Malware</h2>
                <div>Any software program or code that is created to infiltrate and intentionally cause damage to computer systems and networks.</div>
              </a>
              <a class="glossaryEntry" href="glossary/margin-trading.html">
                <h2>Margin Trading</h2>
                <div>Trading using borrowed funds  - note: this is a high risk strategy and should only be done by experienced investors.</div>
              </a>
              <a class="glossaryEntry" href="glossary/market-capitalization.html">
                <h2>Market Capitalization</h2>
                <div>The total trading value of a given coin - calculated by the product of the supply of the coin by the current price.</div>
              </a>
              <a class="glossaryEntry" href="glossary/market-momentum.html">
                <h2>Market Momentum</h2>
                <div>The ability of a certain market to maintain a continuous increase or decrease in price within a particular timeframe.</div>
              </a>
              <a class="glossaryEntry" href="glossary/market-order.html">
                <h2>Market Order</h2>
                <div>When a taker picks the best available bid or ask for a cryptocurrency, taking the price and quantity available on the order book.</div>
              </a>
              <a class="glossaryEntry" href="glossary/masternode.html">
                <h2>Masternode</h2>
                <div>Nodes on a network that often require a minimum amount of a given coin staked in order to access staking rewards.</div>
              </a>
              <a class="glossaryEntry" href="glossary/maximum-supply.html">
                <h2>Maximum Supply</h2>
                <div>Refers to the maximum number of coins or tokens that will be ever created for a given cryptocurrency.</div>
              </a>
              <a class="glossaryEntry" href="glossary/merged-mining.html">
                <h2>Merged Mining</h2>
                <div>The act of mining two or more cryptocurrencies at the same time, without sacrificing overall mining performance</div>
              </a>
              <a class="glossaryEntry" href="glossary/merkle-tree.html">
                <h2>Merkle Tree</h2>
                <div>A way of organizing and structuring large amounts of data to make it more straightforward to process. A hash-based data structure.</div>
              </a>
              <a class="glossaryEntry" href="glossary/metadata.html">
                <h2>Metadata</h2>
                <div>Data that includes information about other data, such as information about features of a specific transaction.</div>
              </a>
              <a class="glossaryEntry" href="glossary/mining.html">
                <h2>Mining</h2>
                <div>The verification of transactions on a blockchain network, in which transactions are added as entries into the blockchain ledger.</div>
              </a>
              <a class="glossaryEntry" href="glossary/mining-farm.html">
                <h2>Mining Farm</h2>
                <div>A collection of many miners, often in a warehouse or large data center devoted to mining cryptocurrencies</div>
              </a>
              <a class="glossaryEntry" href="glossary/moon.html">
                <h2>Moon</h2>
                <div>A colloquial expression used to describe a cryptocurrency or other asset that is experiencing a strong upward market trend.</div>
              </a>
              <a class="glossaryEntry" href="glossary/multisignature.html">
                <h2>Multisignature</h2>
                <div>Wallet which requires another party to authorize a transaction before it is broadcasted to the network.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="n">n</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/node.html">
                <h2>Node</h2>
                <div>A participant on a blockchain network that communicates with other participants to ensure the security and integrity of the system.</div>
              </a>
              <a class="glossaryEntry" href="glossary/nonce.html">
                <h2>Nonce</h2>
                <div>A single-use arbitrary string or number generated for verification purposes to prevent replaying past transactions.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="o">o</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/off-chain.html">
                <h2>Off-chain</h2>
                <div>Transactions that occur off a given blockchain network, that may be later reported or batched together before submitted to the main chain.</div>
              </a>
              <a class="glossaryEntry" href="glossary/offshore-account.html">
                <h2>Offshore account</h2>
                <div>An account that is registered in a jurisdiction that is different to the jurisdiction of the holder&#x27;s citizenship.</div>
              </a>
              <a class="glossaryEntry" href="glossary/one-cancels-the-other-order.html">
                <h2>One-Cancels-the-Other Order (OCO)</h2>
                <div>A pair of orders that are created concurrently, but it is only possible for one of them to execute.</div>
              </a>
              <a class="glossaryEntry" href="glossary/oracle.html">
                <h2>Oracle</h2>
                <div>A data source or feed from a third party used for determining outcomes for smart contracts</div>
              </a>
              <a class="glossaryEntry" href="glossary/orphan-block.html">
                <h2>Orphan Block</h2>
                <div>A block whose parent block is unknown, formed in older versions of Bitcoin Core, where ancestry data wasn&#x27;t required.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="p">p</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/paper-wallet.html">
                <h2>Paper Wallet</h2>
                <div>A piece of paper on which a cryptocurrency address and its corresponding private key are physically printed out.</div>
              </a>
              <a class="glossaryEntry" href="glossary/passive-management.html">
                <h2>Passive Management</h2>
                <div>An investing strategy that doesn’t rely on active market exposure but rather tracks an existing economic index.</div>
              </a>
              <a class="glossaryEntry" href="glossary/peer-to-peer.html">
                <h2>Peer-to-Peer (P2P)</h2>
                <div>When two or more computers are connected and share workload or resources without relying on a centralized server.</div>
              </a>
              <a class="glossaryEntry" href="glossary/pegged-currency.html">
                <h2>Pegged Currency</h2>
                <div>A currency where the price is designed to remain the same as a designated asset. For example: 1 USDT is pegged to 1 USD. Also referred to as a stablecoin.</div>
              </a>
              <a class="glossaryEntry" href="glossary/phishing.html">
                <h2>Phishing</h2>
                <div>A malicious attack where a bad actor will attempt to obtain the credentials of a user in order to gain unauthorised access into their account.</div>
              </a>
              <a class="glossaryEntry" href="glossary/plasma.html">
                <h2>Plasma</h2>
                <div>An Ethereum off-chain scaling solution which may allow Etherum to greatly increase the transactions per second capablities.</div>
              </a>
              <a class="glossaryEntry" href="glossary/ponzi-scheme.html">
                <h2>Ponzi Scheme</h2>
                <div>A scam in which new investors&#x27; funds are used to pay returns promised to previous investors. Do not invest in these.</div>
              </a>
              <a class="glossaryEntry" href="glossary/private-sale.html">
                <h2>Private Sale</h2>
                <div>An early stage investment round for strategic investors with a considerable amount of investible funds.</div>
              </a>
              <a class="glossaryEntry" href="glossary/progressive-web-application.html">
                <h2>Progressive Web application (PWA)</h2>
                <div>An application that is created through the use of modern web technologies and follows basic web standards.</div>
              </a>
              <a class="glossaryEntry" href="glossary/proof-of-stake.html">
                <h2>Proof of Stake (PoS)</h2>
                <div>A consensus mechanism that reward block validators according to the amount of coins they have at stake.</div>
              </a>
              <a class="glossaryEntry" href="glossary/pseudorandom.html">
                <h2>Pseudorandom</h2>
                <div>The property of a definite function that can produce an outcome that passes statistical tests of randomness.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="q">q</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/quantum-computing.html">
                <h2>Quantum Computing</h2>
                <div>Quantum computing works using particles that can be in superposition. These particles represent qubits instead of bits and can take the value of 1, 0 or both simultaneously.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="r">r</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/race-attack.html">
                <h2>Race attack</h2>
                <div>When two transactions are created with the same funds at the same time, with the intention of spending those funds twice.</div>
              </a>
              <a class="glossaryEntry" href="glossary/ransomware.html">
                <h2>Ransomware</h2>
                <div>A type of malware which takes over your computer and threatens to destroy or reveal files unless a ransom is paid.</div>
              </a>
              <a class="glossaryEntry" href="glossary/rekt.html">
                <h2>Rekt</h2>
                <div>A slang term used to define someone or something that has been destroyed or experienced catastrophic failure and a synonym for liquidated</div>
              </a>
              <a class="glossaryEntry" href="glossary/relative-strength-index.html">
                <h2>Relative Strength Index (RSI)</h2>
                <div>A technical indicator that measures market momentum &amp; used to identify overbought and oversold conditions.</div>
              </a>
              <a class="glossaryEntry" href="glossary/resistance.html">
                <h2>Resistance</h2>
                <div>A term in Technical Analysis (TA). When a price that is increasing finds resistance. Usually compared with previous highs.</div>
              </a>
              <a class="glossaryEntry" href="glossary/return-on-investment.html">
                <h2>Return on Investment (ROI)</h2>
                <div>A measure used in order to assess the efficiency of an investment. The ratio between net profit and net cost.</div>
              </a>
              <a class="glossaryEntry" href="glossary/roadmap.html">
                <h2>Roadmap</h2>
                <div>A business planning technique which lays out the short and long term goals of a company within a flexible estimated timeline.</div>
              </a>
              <a class="glossaryEntry" href="glossary/routing-attack.html">
                <h2>Routing Attack</h2>
                <div>An attack on the Internet Service Provider level to affect uptime or participation in a web-enabled system, such as a blockchain.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="s">s</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/satoshi-nakamoto.html">
                <h2>Satoshi Nakamoto</h2>
                <div>The pseudonym of the creator or creators of the bitcoin protocol and whitepaper.</div>
              </a>
              <a class="glossaryEntry" href="glossary/secure-asset-fund-for-users.html">
                <h2>Secure Asset Fund for Users (SAFU)</h2>
                <div>Secure Asset Fund for Users is an emergency insurance fund. On the 3rd of July, 2018, Binance announced the Secure Asset Fund for Users.</div>
              </a>
              <a class="glossaryEntry" href="glossary/security-audit.html">
                <h2>Security Audit</h2>
                <div>A systematic analysis to evaluate how safe a system, smart contract, or blockchain is agaisnt attacks or technical failures.</div>
              </a>
              <a class="glossaryEntry" href="glossary/segregated-witness.html">
                <h2>Segregated Witness (SegWit)</h2>
                <div>A process where the transaction signatures are separated from bitcoin transactions. Allowing more transactions to fit within one block.</div>
              </a>
              <a class="glossaryEntry" href="glossary/sell-wall.html">
                <h2>Sell Wall</h2>
                <div>A very large limit sell order or a cumulation of sell orders at the same price level on an order book for an asset.</div>
              </a>
              <a class="glossaryEntry" href="glossary/sharpe-ratio.html">
                <h2>Sharpe Ratio</h2>
                <div>A ratio created in 1966 that investors and economists use to assess the potential return of investment (ROI).</div>
              </a>
              <a class="glossaryEntry" href="glossary/smart-contract.html">
                <h2>Smart Contract</h2>
                <div>Automated contracts that trigger certain action when predetermined conditions are met. It works like &#x27;If…then&#x27; conditions as for instance, it needs condition C met before money can be transferred from A to B.</div>
              </a>
              <a class="glossaryEntry" href="glossary/snapshot.html">
                <h2>Snapshot</h2>
                <div>The ability to record the state of a blockchain ledger, storage device, or computer system at a specific point in time.</div>
              </a>
              <a class="glossaryEntry" href="glossary/source-code.html">
                <h2>Source Code</h2>
                <div>Computer code, which is responsible for defining how software will function based on a list of instructions and statements.</div>
              </a>
              <a class="glossaryEntry" href="glossary/stablecoin.html">
                <h2>Stablecoin</h2>
                <div>A type of cryptocurrency that is designed to maintain a stable value, rather than experiencing significant price changes.</div>
              </a>
              <a class="glossaryEntry" href="glossary/staking-pool.html">
                <h2>Staking Pool</h2>
                <div>A pool where stakeholders combine their staking power to increase their chance of successfully validating a new block.</div>
              </a>
              <a class="glossaryEntry" href="glossary/state-channel.html">
                <h2>State Channel</h2>
                <div>A two-way communication channel between two users or nodes on a network, or between a user and a service.</div>
              </a>
              <a class="glossaryEntry" href="glossary/store-of-value.html">
                <h2>Store of Value</h2>
                <div>A commodity, asset or currency that can be saved, retrieved and exchanged at a future date, without suffering depreciation.</div>
              </a>
              <a class="glossaryEntry" href="glossary/supercomputer.html">
                <h2>Supercomputer</h2>
                <div>A computer or virtual machine that operates at the highest level of currently possible computing power.</div>
              </a>
              <a class="glossaryEntry" href="glossary/supply-chain.html">
                <h2>Supply Chain</h2>
                <div>A network of people and businesses involved in creating and distributing a particular product or serving a particular customer.</div>
              </a>
              <a class="glossaryEntry" href="glossary/support.html">
                <h2>Support</h2>
                <div>A term in Technical Analysis (TA). When a price that is decreasing finds &#x27;support&#x27;. Usually compared with lows.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="t">t</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/taker.html">
                <h2>Taker</h2>
                <div>The &quot;taker&quot; is someone who decides to place an order that is instantly matched with an existing order on the order book.</div>
              </a>
              <a class="glossaryEntry" href="glossary/tank.html">
                <h2>Tank</h2>
                <div>A term adopted from the traditional financial markets and describes a strong negative financial performance of a particular asset</div>
              </a>
              <a class="glossaryEntry" href="glossary/ticker.html">
                <h2>Ticker</h2>
                <div>The trading &#x27;symbol&#x27; or shortened name (typically in capital letters) that refer to a coin on a trading platform. For example: BNB</div>
              </a>
              <a class="glossaryEntry" href="glossary/token-lockup.html">
                <h2>Token Lockup</h2>
                <div>Token lockup or vesting period refers to the time span in which tokens or coins are not allowed to be transferred or traded.</div>
              </a>
              <a class="glossaryEntry" href="glossary/token-sale.html">
                <h2>Token Sale</h2>
                <div>The issuance of tokens in exchange for another cryptocurrency. Also referred to as an Initial Coin Offering.</div>
              </a>
              <a class="glossaryEntry" href="glossary/total-supply.html">
                <h2>Total Supply</h2>
                <div>Refers to the number of coins or tokens that currently exists and are either in circulation or locked somehow.</div>
              </a>
              <a class="glossaryEntry" href="glossary/transaction-id.html">
                <h2>Transaction ID (TXID)</h2>
                <div>Also referred to as a Transaction hash. This is a transaction identifier used to reference transactions on a blockchain.</div>
              </a>
              <a class="glossaryEntry" href="glossary/transactions-per-second.html">
                <h2>Transactions Per second (TPS)</h2>
                <div>Refers to the amount of transactions that a blockchain is capable of processing each second.</div>
              </a>
              <a class="glossaryEntry" href="glossary/turing-complete.html">
                <h2>Turing Complete</h2>
                <div>A machine that, given enough time and memory along with the necessary instructions, can solve any computational problem, no matter how complex.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="u">u</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/unit-of-account.html">
                <h2>Unit of Account</h2>
                <div>One of the primary properties of money. Allowing measurement and comparison of the value of different things.</div>
              </a>
              <a class="glossaryEntry" href="glossary/user-interface.html">
                <h2>User Interface (UI)</h2>
                <div>The interface where interactions between humans and machines occur. It establishes how a user can interact with a machine.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="v">v</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/verification-code.html">
                <h2>Verification Code</h2>
                <div>Code sent to a second device to ensure the identity of someone logging in to an account. Used for Two-Factor Authentication</div>
              </a>
              <a class="glossaryEntry" href="glossary/virtual-machine.html">
                <h2>Virtual Machine</h2>
                <div>An emulated computer system, or a distributed system that is designed to replicate the features of a computer&#x27;s architecture.</div>
              </a>
              <a class="glossaryEntry" href="glossary/vladimir-club.html">
                <h2>Vladimir Club</h2>
                <div>A term used to describe someone who has acquired 1% of 1% (0.01%) of the maximum supply of a cryptocurrency.</div>
              </a>
              <a class="glossaryEntry" href="glossary/volatility.html">
                <h2>Volatility</h2>
                <div>How quickly and how much the price of an asset changes. Calculated in terms of standard deviations in the annual return of an asset over a set period of time.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="w">w</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/wallet.html">
                <h2>Wallet</h2>
                <div>Used to send and receive cryptocurrencies. Different types include software wallets, hardware wallets, and paper wallets.</div>
              </a>
              <a class="glossaryEntry" href="glossary/weak-hands.html">
                <h2>Weak Hands</h2>
                <div>A term referring to traders or investors who lack the confidence to hold their assets or to follow their trading plans.</div>
              </a>
              <a class="glossaryEntry" href="glossary/weak-subjectivity.html">
                <h2>Weak Subjectivity</h2>
                <div>Relates to the need for certain nodes to rely on other nodes when determining the current state of a PoS blockchain.</div>
              </a>
              <a class="glossaryEntry" href="glossary/web-1.html">
                <h2>Web 1.0</h2>
                <div>The initial iteration of the web, when data was primarily read-only pages connected with hyperlinks. Also known as &quot;read-only&quot; web.</div>
              </a>
              <a class="glossaryEntry" href="glossary/wei.html">
                <h2>Wei</h2>
                <div>The smallest possible denomination of ether (ETH), the currency used on the Ethereum network. Often used when referring to gas prices.</div>
              </a>
              <a class="glossaryEntry" href="glossary/whale.html">
                <h2>Whale</h2>
                <div>An individual or organization that holds a large amount of Bitcoins or other cryptocurrency, allowing them to impact the markets.</div>
              </a>
              <a class="glossaryEntry" href="glossary/whiskers.html">
                <h2>Whiskers</h2>
                <div>The lines extending from the colored bar in a candlestick chart that indicate the full low-high range of a trading pair within a certain time frame. Also referred to as wicks or shadows.</div>
              </a>
              <a class="glossaryEntry" href="glossary/whitelist.html">
                <h2>Whitelist</h2>
                <div>A list of allowed or trusted individuals, computer programs, or cryptocurrency addresses in relation to a service or event.</div>
              </a>
              <a class="glossaryEntry" href="glossary/wick.html">
                <h2>Wick</h2>
                <div>A line found on a candlestick chart which is used to indicate where the price of an asset is fluctuating in regards to its opening and closing prices.</div>
              </a>
              <a class="glossaryEntry" href="glossary/wrapped-ether.html">
                <h2>Wrapped Ether (WETH)</h2>
                <div>ERC-20 token representing Ether at a 1:1 ratio. It allows users to trade ETH to ERC-20 tokens on decentralized platforms.</div>
              </a>
            </div>
            <div class="glossariesSection">
              <div class="glossaryHeader">
                <div class="letter" id="z">z</div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <a class="glossaryEntry" href="glossary/zero-knowledge-proofs.html">
                <h2>Zero-Knowledge Proofs</h2>
                <div>Proofs to verify that transactions are valid without revealing any information about these transactions, providing privacy to the transaction while maintaining its legitimacy.</div>
              </a>
              <a class="glossaryEntry" href="glossary/zk-snarks.html">
                <h2>Zk-Snarks</h2>
                <div>“Zero-Knowledge Succinct Non-Interactive Argument of Knowledge” - an approach to zero knowledge proofs.</div>
              </a>
            </div>
          </div>
          <div class="indexSelector"><a href="##">#</a><a href="#a">a</a><a href="#b">b</a><a href="#c">c</a><a href="#d">d</a><a href="#e">e</a><a href="#f">f</a><a href="#g">g</a><a href="#h">h</a><a href="#i">i</a><a href="#j">j</a><a href="#k">k</a><a href="#l">l</a><a href="#m">m</a><a href="#n">n</a><a href="#o">o</a><a href="#p">p</a><a href="#q">q</a><a href="#r">r</a><a href="#s">s</a><a href="#t">t</a><a href="#u">u</a><a href="#v">v</a><a href="#w">w</a><a href="#z">z</a></div>
        </div>
      </div>
    </div>
  </div>
</div>