<div class="table-scrollable">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th class="text-center">Thời gian</th>
      <th class="text-center">Gía mở cửa</th>
      <th class="text-center">Giá cao nhất</th>
      <th class="text-center">Gía thấp nhất</th>
      <th class="text-center">Gía đóng cửa</th>
<<<<<<< HEAD
      <th class="text-center">Khối lượng giao dịch</th>
=======
      <th class="text-center">ATR14</th>
>>>>>>> 612f21f (upload)
    </tr>
    </thead>

    <tbody class="item-container">
      <%= render('candlestick') %>
    </tbody>
<<<<<<< HEAD
    <div class="row">
      <div class="col-md-6">
        <%= will_paginate @candlesticks %>
      </div>
      <div class="col-md-6 margin-top-8 text-right">
        <%= page_entries_info @candlesticks %>
      </div>
    </div>
  </table>
</div>
=======
  </table>
</div>
xs
>>>>>>> 612f21f (upload)
