<div class="page-header navbar navbar-fixed-top" style="z-index: 1;">
  <div class="page-header-inner ">
    <div class="atmarkcafe-logo page-logo">
      <a href="/" target="_blank"></a>
      <div class="menu-toggler sidebar-toggler">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
      </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN PAGE ACTIONS -->
    <!-- DOC: Remove "hide" class to enable the page header actions -->
    <div class="page-actions">
       <!--<span class="caption-subject font-green sbold uppercase" style="margin-left: 30px; font-size: 26px;"><i class="fa fa-building-o" aria-hidden="true"></i> NHÀ TRỌ VĂN MINH - THÂN THIỆN</span>-->
      <h3 class="caption-subject font-green sbold uppercase" style="margin-top: 0px; margin-bottom: 5px;">TRADE LOG APP</h3>
      <span class="" style="font-size: 12px;"><strong>Đ/C:</strong> - <strong>SĐT: </span><br/>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <div class="page-actions">
      <h3 class="caption-subject font-green sbold uppercase" style="margin-top: 0px; margin-bottom: 5px;"></h3>
    </div>
    <div class="page-top">
    </div>
  </div>
</div>
<div class="clearfix"> </div>
