<div class="page-sidebar-wrapper">
  <!-- BEGIN SIDEBAR -->
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu page-sidebar-menu-closed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
      <li class="nav-item start active open">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-home" aria-hidden="true"></i>
          <span class="title">NGHIỆP VỤ</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start">
            <a href="/" class="nav-link ">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <span class="title">QUẢN LÝ CHUNG</span>
              <span class="selected"></span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="#" class="nav-link">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
              <span class="title">QUỸ</span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="<%= coins_url %>" class="nav-link ">
              <i class="fa fa-plug" aria-hidden="true"></i>
              <span class="title">COIN</span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="#" class="nav-link ">
              <i class="fa fa-money" aria-hidden="true"></i>
              <span class="title">PHIẾU CHI</span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="#" class="nav-link ">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
              <span class="title">HỢP ĐỒNG</span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="#" class="nav-link ">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              <span class="title">KHÁCH THUÊ</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item start">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <span class="title">THỐNG KÊ/ BÁO CÁO</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start">
            <a href="#" class="nav-link ">
              <i class="icon-bar-chart"></i>
              <span class="title">PHÒNG TRỐNG</span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="#" class="nav-link ">
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
              <span class="title">BÁO CÁO TÀI CHÍNH</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item start">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <span class="title">QUẢN LÝ THUẬT NGỮ</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start">
            <a href="<%= glossaries_path %>" class="nav-link ">
              <i class="icon-bar-chart"></i>
              <span class="title">DANH SÁCH</span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="<%= new_glossary_path %>" class="nav-link ">
              <i class="icon-bar-chart"></i>
              <span class="title">THÊM MỚI</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item start">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
          <span class="title">QUẢN LÝ TAG</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start">
            <a href="<%= tags_path %>" class="nav-link ">
              <i class="fa fa-sitemap" aria-hidden="true"></i>
              <span class="title">DANH SÁCH</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item start">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span class="title">HỆ THỐNG</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start">
            <a href="#" class="nav-link ">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <span class="title">CẤU HÌNH</span>
            </a>
          </li>
          <li class="nav-item start ">
            <a href="#" class="nav-link ">
              <i class="fa fa-cogs" aria-hidden="true"></i>
              <span class="title">DANH MỤC CẤU HÌNH</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item start ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-life-ring" aria-hidden="true"></i>
          <span class="title">TRỢ GIÚP</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start ">
            <a href="#" class="nav-link ">
              <i class="fa fa-map-o" aria-hidden="true"></i>
              <span class="title">HƯỚNG DẪN SỬ DỤNG</span>
            </a>
          </li>
          <li class="nav-item start ">
            <a href="#" class="nav-link ">
              <i class="fa fa-phone-square" aria-hidden="true"></i>
              <span class="title">LIÊN HỆ</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>