<div class="top-toolbar">
  <div class="row">
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="/" class="icon-btn active">
        <i class="fa fa-tachometer"></i> - F1
        <div> Quản trị</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= fund_logs_url %>" class="icon-btn">
        <i class="fa fa-credit-card"></i> - F2
        <div>QUỸ</div>
        <span class="badge badge-danger"> 3 </span>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= trades_url %>" class="icon-btn">
        <i class="fa fa-plug"></i> - F3
        <div>GIAO DỊCH</div>
        <span class="badge badge-warning"> 12 </span>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= coins_url %>" class="icon-btn">
        <i class="fa fa-money"></i> - F4
        <div>COIN</div>
      </a>
    </div>
  </div>
</div>