<div class="top-toolbar">
  <div class="row">
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="/" class="icon-btn active">
        <i class="fa fa-tachometer"></i> - F1
        <div> Quản trị</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-credit-card"></i> - F2
        <div>QUỸ</div>
        <span class="badge badge-danger"> 3 </span>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= coins_url %>" class="icon-btn">
        <i class="fa fa-plug"></i> - F3
        <div> COIN </div>
        <span class="badge badge-warning"> 12 </span>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-money"></i> - F4
        <div> Phiếu chi</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-handshake-o"></i> - F5
        <div> Hợp đồng</div>
        <span class="badge badge-warning"> 4 </span>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-group"></i> - F6
        <div> Khách thuê</div>
        <span class="badge badge-danger"> 2 </span>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-bar-chart-o"></i> - F7
        <div> Báo cáo</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-sitemap"></i> - F8
        <div> Khu trọ</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-bed"></i> - F9
        <div> Phòng</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-bath" aria-hidden="true"></i> - F10
        <div> Thiết bị</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-cloud" aria-hidden="true"></i> - F11
        <div> Dịch vụ</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="#" class="icon-btn">
        <i class="fa fa-cogs"></i> - F12
        <div> Cấu hình</div>
      </a>
    </div>
  </div>
</div>