<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Name:</strong>-->

<!--</p>-->

<!--<p>-->
<!--  <strong>Slug:</strong>-->
  <%#= @currency_pair.slug %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Base:</strong>-->
  <%#= @currency_pair.base %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Quote:</strong>-->
  <%#= @currency_pair.quote %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Winrate:</strong>-->
  <%#= @currency_pair.winrate %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Desciption:</strong>-->
  <%#= @currency_pair.desciption %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Is follow:</strong>-->
  <%#= @currency_pair.is_follow %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Tag:</strong>-->
  <%#= @currency_pair.tag %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_currency_pair_path(@currency_pair) %> |-->
<%#= link_to 'Back', currency_pairs_path %>

<div class="invoice-content-2 bordered">
  <div class="row invoice-head">
    <div class="col-md-7 col-xs-6">
      <div class="invoice-logo">
        <h1 class="uppercase"><%= @currency_pair.name %></h1>
      </div>
    </div>
  </div>
  <div class="row invoice-cust-add">
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Viết Tắt</h2>
      <p class="invoice-desc">Lorem Tech Co.</p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Date</h2>
      <p class="invoice-desc">Nov 12, 2015</p>
    </div>
    <div class="col-xs-6">
      <h2 class="invoice-title uppercase">Address</h2>
      <p class="invoice-desc inv-address">25, Lorem Lis Street, Orange C, California, US</p>
    </div>
  </div>
  <div class="row invoice-body">
    <div class="col-xs-12 table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="invoice-title uppercase">Description</th>
          <th class="invoice-title uppercase text-center">Hours</th>
          <th class="invoice-title uppercase text-center">Rate</th>
          <th class="invoice-title uppercase text-center">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <h3>Web Design &amp; Development</h3>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet et dolore siat magna aliquam erat volutpat. </p>
          </td>
          <td class="text-center sbold">200</td>
          <td class="text-center sbold">80$</td>
          <td class="text-center sbold">16,000$</td>
        </tr>
        <tr>
          <td>
            <h3>Branding</h3>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. </p>
          </td>
          <td class="text-center sbold">130</td>
          <td class="text-center sbold">60$</td>
          <td class="text-center sbold">7,800$</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row invoice-subtotal">
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Subtotal</h2>
      <p class="invoice-desc">23,800$</p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Tax (0%)</h2>
      <p class="invoice-desc">0$</p>
    </div>
    <div class="col-xs-6">
      <h2 class="invoice-title uppercase">Total</h2>
      <p class="invoice-desc grand-total">23,800$</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-lg green-haze hidden-print uppercase print-btn" onclick="javascript:window.print();">Print</a>
    </div>
  </div>
</div>
