<% if defined? delete_url %>
    <%= link_to raw('<i class="fa fa-trash-o"></i>'), delete_url, method: :delete, data: {toggle: 'confirmation', placement: 'left', popout: false}, class: "btn red btn-circle btn-icon-only btn-default" %>
<% else %>
    <% if defined? edit_url %>
        <a class="btn btn-circle btn-icon-only btn-default popovers" data-remote="true" href="<%= edit_url %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Sửa"><i class="icon-pencil"></i></a>
    <% end %>

    <% if defined? duplicate_url %>
        <% if session[:CHUCNANGCOPY] == '1' %>
            <a class="btn green btn-circle btn-icon-only btn-default popovers" data-remote="true" href="<%= duplicate_url %>" data-container="body" data-trigger="hover" data-placement="top" data-content="<%= t(:copy) %>"><i class="fa fa-files-o" aria-hidden="true"></i></a>
        <% end %>
    <% end %>
<% end %>