<div class="row">
  <div class="col-md-12">
    <div class="portlet light portlet-fit portlet-datatable bordered">
      <div class="portlet-title tabbable-line">
        <div class="caption"> 
          <i class="icon-share font-green"></i>
          <span class="caption-subject font-green sbold uppercase"><%= title %></span>
        </div>

        <div class="actions">
          <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"></a>
        </div>
      </div>

      <div class="portlet-body">
        <%= yield %>
      </div>
    </div>
  </div>
</div>