<div class="modal-dialog modal-lg">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-green">
        <span class="caption-subject bold uppercase">
          <% if type == "new" %>
            <i class="fa fa-plus"></i> Thêm mới
          <% elsif type == "edit" %>
            <i class="fa fa-pencil"></i> Chỉnh sửa
          <% end %>
        </span>
      </div>
      <div class="actions">
        <a class="btn btn-circle btn-icon-only btn-default" data-dismiss="modal" href="javascript:;">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <%= yield %>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      var placeholder = "-- Chọn --";
      $(".select2, .select2-multiple").select2({
        placeholder: placeholder,
        width: '100%'
      });

      $('.number-format').priceFormat({
        prefix: '',
        thousandsSeparator: '.',
        centsLimit: 0
      });

      /* Maxlength */
      $('.bg-maxlength').maxlength({
        limitReachedClass: "label label-danger",
        alwaysShow: true,
        placement: App.isRTL() ? 'top-right' : 'top-left'
      });

      /* DatePicker */
      if (jQuery().datepicker) {
        $('.date-picker').datepicker({
          rtl: App.isRTL(),
          orientation: "left",
          autoclose: true
        });
        //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
      }
    });
  </script>
</div>
<!-- /.modal-dialog -->
