<div class="modal-dialog modal-lg">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-green">
        <span class="caption-subject bold uppercase">
          <% if type == "new" %>
            <i class="fa fa-plus"></i> Thêm mới 
          <% elsif type == "edit" %>
            <i class="fa fa-pencil"></i> Chỉnh sửa
          <% end %>
        </span>
      </div>
      <div class="actions">
        <a class="btn btn-circle btn-icon-only btn-default" data-dismiss="modal" href="javascript:;">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <%= yield %>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $("#building").change(function(){
        $.ajax({
          type: "GET",
          url: '/admin/rooms.json?building_id='+ $( "#building" ).val(),
          data: JSON.stringify({building_id: $( "#building" ).val()}),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: success,
          error: error
        });

        function success(data, status) {
          $("#room").html("");
          $("#room").append("<option value='0'>-- Chọn phòng trọ --</option>");
          data.forEach(appendOption)
        }

        function appendOption(item, index, arr) {
          var htmlOption = "<option value="+ item.id +">"+ item.name +"</option>"
          $("#room").append(htmlOption);
        }

        function error() {
          console.log('Lỗi lấy dữ liệu phòng theo tòa nhà');
        }
      });

      var placeholder = "-- Chọn --";
      $(".select2, .select2-multiple").select2({
        placeholder: placeholder,
        width: '100%'
      });

      $('.number-format').priceFormat({
        prefix: '',
        thousandsSeparator: '.',
        centsLimit: 0
      });

      /* Maxlength */
      $('.bg-maxlength').maxlength({
        limitReachedClass: "label label-danger",
        alwaysShow: true,
        placement: App.isRTL() ? 'top-right' : 'top-left'
      });

      /* DatePicker */
      if (jQuery().datepicker) {
        $('.date-picker').datepicker({
          rtl: App.isRTL(),
          orientation: "left",
          autoclose: true
        });
        //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
      }
    });
  </script>
</div>
<!-- /.modal-dialog -->