<!-- START SEARCH FORM-->
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-share"></i> TIÊU CHÍ TÌM KIẾM
    </div>
    <div class="tools">
      <a href="javascript:;" class="expand"> </a>
      <a href="javascript:;" class="remove"> </a>
    </div>
  </div>
  <div class="portlet-body display-hide">
    <%= yield %>
  </div>
</div>
<!-- END SEARCH FORM-->