<div class="row">
  <div class="col-md-8">
    <div id="calendar"></div>
  </div>
  <div class="col-md-4">
    <div class="portlet light bordered">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <i class="icon-globe font-green-sharp"></i>
          <span class="caption-subject font-green-sharp bold uppercase">Sự kiện</span>
        </div>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_1_1" class="active" data-toggle="tab"> Tương lai </a>
          </li>
          <li>
            <a href="#tab_1_2" data-toggle="tab"> Quá khứ </a>
          </li>
        </ul>
      </div>
      <div class="actions">
        <div class="btn-group btn-group-devided" data-toggle="buttons">
          <a class="btn green btn-outline btn-circle" data-remote="true" href="/news/new"><i class="fa fa-plus"></i>Thêm</a>
        </div>
      </div>
      <div class="portlet-body">
        <!--BEGIN TABS-->
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1_1">
            <div class="" style="height: 339px;"><div style="height: 339px; width: auto;" >
              <ul class="feeds">
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-success">
                          <i class="fa fa-bell-o"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> You have 4 pending tasks.
                          <span class="label label-sm label-info"> Take action
                              <i class="fa fa-share"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> Just now </div>
                  </div>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New version v1.4 just lunched! </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> 20 mins </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-danger">
                          <i class="fa fa-bolt"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> Database server #12 overloaded. Please fix the issue. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 24 mins </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-info">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 30 mins </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-success">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 40 mins </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-warning">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New user registered. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 1.5 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-success">
                          <i class="fa fa-bell-o"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> Web server hardware needs to be upgraded.
                          <span class="label label-sm label-default "> Overdue </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 2 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-default">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 3 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-warning">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 5 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-info">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 18 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-default">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 21 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-info">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 22 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-default">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 21 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-info">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 22 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-default">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 21 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-info">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 22 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-default">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 21 hours </div>
                  </div>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-info">
                          <i class="fa fa-bullhorn"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> New order received. Please take care of it. </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 22 hours </div>
                  </div>
                </li>
              </ul>
            </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 184.464px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
          </div>
          <div class="tab-pane" id="tab_1_2">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 290px;"><div class="scroller" style="height: 290px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
              <ul class="feeds">
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New user registered </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> Just now </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New order received </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> 10 mins </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="col1">
                    <div class="cont">
                      <div class="cont-col1">
                        <div class="label label-sm label-danger">
                          <i class="fa fa-bolt"></i>
                        </div>
                      </div>
                      <div class="cont-col2">
                        <div class="desc"> Order #24DOP4 has been rejected.
                          <span class="label label-sm label-danger "> Take action
                                                                            <i class="fa fa-share"></i>
                                                                        </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="date"> 24 mins </div>
                  </div>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New user registered </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> Just now </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New user registered </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> Just now </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New user registered </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> Just now </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New user registered </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> Just now </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New user registered </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> Just now </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New user registered </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> Just now </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bell-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc"> New user registered </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date"> Just now </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
          </div>
        </div>
        <!--END TABS-->
      </div>
    </div>
  </div>
</div>