<div class="row" data-turbolinks="false">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-body" id="table" >
        <div id="jstree-tags"></div>
      </div>
      <%= link_to "Tạo mới", "javascript:;", class: "btn btn-success", id: "create-tags" %>
      <%= link_to "Sửa", "#", class: "btn btn-warning", id: "edit-tags" %>
      <%= link_to "Xóa", "#", class: "btn btn-danger", id: "delete-tags" %>
    </div>
  </div>
</div>
<div id="modal-window" class="modal fade" role="dialog"></div>

<script>
  $(document).ready(function($) {
    $('#jstree-tags').jstree({
      'core': {
        'check_callback': true,
        'data': {
          'url': function (node) {
            return 'api/v1/tags/index.json'
          }
        }
      },
      'plugins': ['dnd']
    });

    $('#jstree-tags').on('move_node.jstree', function (e, obj) {
      // console.log(n.old_parent + ":" + n.old_position + " -> " + n.parent + ":" + n.position);
      var id = obj.node.id,
        parent_id = obj.node.parent,
        new_position = obj.position;

      var data = {'tag': {'parent_id': parent_id, 'new_position': new_position}},
        url = '/tags/' + id;

      // PATCH
      $.ajax({
        'type': 'PATCH',
        'data': data,
        'url': url
      })
    });

    $('#create-tags').on('click', function (e ) {
      e.preventdefault;
      var jstree = $('#jstree-tags').jstree(true);
      var selected = jstree.get_selected();
      if (!selected.length) return false;

      selected = selected[0];

      var id = selected,
      url = '/tags/new?parent=' + id;
      window.location.href=url;
      return false; // prevent reload page
    });

    $('#edit-tags').on('click', function (e) {
      e.preventdefault;

      var jstree = $('#jstree-tags').jstree(true);
      var selected = jstree.get_selected();
      if (!selected.length) return false;

      selected = selected[0];

      var id = selected, url = '/tags/' + id + '/edit';
      window.location.href=url;
      return false; // prevent reload page
    });

    $('#delete-tags').on('click', function (e) {
      e.preventdefault;

      var jstree = $('#jstree-tags').jstree(true);
      var selected = jstree.get_selected();
      if (!selected.length) return false;

      selected = selected[0];

      var id = selected, url = '/tags/' + id;

      // Delete
      $.ajax({
        'type': 'DELETE',
        'url': url,
        'success': function () {
          jstree.delete_node(selected);
        }
      })
    });
  })
</script>
