<ul class="nav nav-tabs">
  <% tags.each_with_index do |tag, index| %>
    <li class="<%= index == 0 ? 'active' : ''%>">
      <a href="<%= "#tab-#{ tag.id }" %>" data-toggle="tab" aria-expanded="false"><%= tag.slug %></a>
    </li>
  <% end %>
</ul>