<ul class="nav nav-pills">
  <% tags.each_with_index do |tag, index| %>
    <li class="<%= index == 0 ? 'active' : ''%>">
      <a href="<%= "#tab-#{ tag.id }" %>" data-toggle="tab" aria-expanded="false"><strong><%= tag.slug %></strong></a>
    </li>
  <% end %>
</ul>
