<div class="profile-content">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <%= render 'wiki_index_tabs', tags: Tag.find_by(title: 'Wiki categories').children %>
          </div>
          <div class="portlet-body">
            <%= render 'wiki_index_content', tags: Tag.find_by(title: 'Wiki categories').children %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

