<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form'}) do |f| %>
  <div class="alert alert-danger display-hide">
    <button class="close" data-close="alert"></button>
    <span>Enter any username and password. </span>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= f.text_field :email, required: true, autofocus: true, class: 'form-control form-control-solid placeholder-no-fix form-group', placeholder: 'Nhập email' %>
    </div>
    <div class="col-xs-6">
      <%= f.password_field :password, required: true, class: 'form-control form-control-solid placeholder-no-fix form-group', placeholder: 'Nhập mật khẩu' %>
    </div>
  </div>
  <div style="display: none;">
    <%= f.text_field :remember_me, :as => :hidden, :value => true if devise_mapping.rememberable? %>
  </div>
<% end %>