<h1>Editing Trade Pyramid Method</h1>

<%= render 'form', trade_pyramid_method: @trade_pyramid_method %>

<%= link_to 'Show', @trade_pyramid_method %> |
<%= link_to 'Back', trade_pyramid_methods_path %>
