

<p>
  <strong>Trade method:</strong>
  <%= @trade_pyramid_method.trade_method %>
</p>

<%= link_to 'Edit', edit_trade_pyramid_method_path(@trade_pyramid_method) %> |
<%= link_to 'Back', trade_pyramid_methods_path %>
