.modal-dialog {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#modal-window {
  margin-top: 70px;
}

.atmarkcafe-logo {
  padding-left: 0px !important;
  .atmarkcafe-img {
    margin-top: 0px !important;
  }
}

.navbar-fixed-top {
  height: 80px !important;
}
