<div class="table-scrollable">
  <%= render 'search' %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th></th>
      <th class="text-center">Thời gian</th>
      <th class="text-center">Cặp tiền</th>
      <th class="text-center">Lệnh</th>
      <th class="text-center">Phương pháp</th>
      <th class="text-center">Trạng thái</th>
      <th class="text-center">Kết quả</th>
      <th></th>
    </tr>
    </thead>

    <tbody class="item-container">
      <%= render('trade') %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-6">
    <%= will_paginate @trades %>
  </div>
  <div class="col-md-6 margin-top-8 text-right">
    <%= page_entries_info @trades %>
  </div>
</div>
